<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ICC</title>

    <!-- link css -->
    <link rel="stylesheet" href="../../../dist/output.css">

    <!-- icon -->
    <link rel="shortcut icon" href="../../images/sain.png" type="image/x-icon">

    <!-- daisyui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- navbar -->
    <nav class="w-full bg-base-100 fixed bg-white shadow-lg top-0 left-0 right-0 z-10">
        <div class="py-3 justify-between flex px-10 items-center">
            <img src="../../images/logo.png" alt="" class="w-32">
            <div class="profil flex justify-center items-center">
                <h3 class="text-xl pr-7">Halo, <b>Husain Rahmani</b></h3>
                <img src="../../images/sain.png" alt="" class="w-16">
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <div class="grid grid-cols-4 gap-5 px-10 mt-32">
        <!-- sidebar -->
        <aside class="fixed">
            <a href="../index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z" />
                        </svg>
                        <h3 class="pl-2">Dashboard</h3>
                    </div>
                </div>
            </a>
            <a href="./index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="bg-blue-500 px-4 py-2 flex mt-2 text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
                        </svg>                                   
                        <h3 class="pl-2">Laporan</h3>
                    </div>
                </div>
            </a>
            <a href="../logistik/index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                        </svg>                                  
                        <h3 class="pl-2">Logistik</h3>
                    </div>
                </div>
            </a>
            <a href="../posko/index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                        </svg>                                                   
                        <h3 class="pl-2">Posko Gempa</h3>
                    </div>
                </div>
            </a>
            <div class="dashboard hover:cursor-pointer">
                <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                    </svg>                                                                    
                    <h3 class="pl-2">Pengiriman</h3>
                </div>
            </div>
            <a href="../user/index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                        </svg>                                                                                          
                        <h3 class="pl-2">User Management</h3>
                    </div>
                </div>
            </a>
            <a href="../profil/index.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                                                                                     
                        <h3 class="pl-2">Profil</h3>
                    </div>
                </div>
            </a>
            <a href="../auth/login.html">
                <div class="dashboard hover:cursor-pointer">
                    <div class="hover:bg-blue-500 bg-gray-100 mt-2 px-4 py-2 flex hover:text-white font-bold rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1012.728 0M12 3v9" />
                        </svg>                                                                                      
                        <h3 class="pl-2">Keluar</h3>
                    </div>
                </div>
            </a>
        </aside>
        <!-- end sidebar -->

        <!-- content -->
        <main class="max-w-6xl h-96 ml-56 col-span-4">
            <div class="bg-base-100 shadow-xl rounded-lg py-5 px-5">
                <h1 class="text-center font-bold text-2xl">Detail Progress Laporan</h1>
                <div class="h-90 overflow-y-auto scrollbar scrollbar-thumb-blue-500 scrollbar-thin">
                    <div class="mt-2 w-full">
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Bencana Selesai</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content peer-checked:bg-secondary flex pl-16">
                                <p class="font-bold">Keterangan:</p>
                                <p class="pl-2 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reiciendis quisquam soluta a autem nesciunt ea perspiciatis iste ut, officiis, officia, cumque magnam provident tempore pariatur similique debitis distinctio dolor. Veniam cupiditate ducimus dolorum fugit natus molestiae at qui dignissimos perspiciatis excepturi? Sequi sint voluptates eius in nulla consequuntur officia.</p>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Upaya Pemulihan</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content flex pl-16">
                                <p class="font-bold">Keterangan:</p>
                                <p class="pl-2 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reiciendis quisquam soluta a autem nesciunt ea perspiciatis iste ut, officiis, officia, cumque magnam provident tempore pariatur similique debitis distinctio dolor. Veniam cupiditate ducimus dolorum fugit natus molestiae at qui dignissimos perspiciatis excepturi? Sequi sint voluptates eius in nulla consequuntur officia.</p>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Perkembangan Kondisi</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content peer-checked:bg-secondary pl-16">
                                <div class="grid grid-cols-2 gap-12">
                                    <table>
                                        <tr class="border-b">
                                            <td class="font-bold">Meninggal :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Luka Ringan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Luka Berat :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Hilang :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Mengungsi :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Rumah :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Kantor :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Kesehatan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Umum :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Pendidikan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Ibadah :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Jembatan Rusak :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Tanggul Rusak :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Lahan Pertanian :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="grid grid-cols-6 pt-2">
                                    <div>
                                        <h3 class="font-bold">Lain-lain :</h3>
                                    </div>
                                    <div class="col-span-5 text-justify">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!
                                    </div>
                               </div>
                                <div class="grid grid-cols-6 pt-2">
                                    <div>
                                        <h3 class="font-bold">Keterangan :</h3>
                                    </div>
                                    <div class="col-span-5 text-justify">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Pengiriman Petugas</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content pl-16">
                                <div class="grid grid-cols-6 pt-2">
                                    <div>
                                        <h3 class="font-bold">Petugas :</h3>
                                    </div>
                                    <ol class="col-span-5 text-justify list-decimal">
                                        <li>Husain Rahmani</li>
                                        <li>Abror Khanif</li>
                                        <li>Muhammad Derry</li>
                                        <li>Muhammad Royger</li>
                                        <li>Muhammad Rifqy</li>
                                        <li>Muhammad Rafly</li>
                                    </ol>
                               </div>
                                <div class="grid grid-cols-7 pt-2">
                                    <div>
                                        <h3 class="font-bold">Keterangan :</h3>
                                    </div>
                                    <ol class="col-span-6 text-justify">
                                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!</li>
                                    </ol>
                               </div>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Pembangunan Posko</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content pl-16">
                                <table class="w-full">
                                    <thead class="font-bold bg-slate-300 text-center py-5">
                                        <tr>
                                            <td>No</td>
                                            <td>Nama</td>
                                            <td>PIC</td>
                                            <td>Longitude</td>
                                            <td>Latitude</td>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center border-b-2">
                                        <tr>
                                            <td>1</td>
                                            <td>Posko 1</td>
                                            <td>Husain Rahmani</td>
                                            <td>1234567</td>
                                            <td>1236459</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="grid grid-cols-7 pt-2">
                                    <div>
                                        <h3 class="font-bold">Keterangan :</h3>
                                    </div>
                                    <ol class="col-span-6 text-justify">
                                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!</li>
                                    </ol>
                               </div>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Pengiriman Logistik</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content pl-16">
                                <table class="w-full">
                                    <thead class="font-bold bg-slate-300 text-center py-5">
                                        <tr>
                                            <td>No</td>
                                            <td>Nama</td>
                                            <td>Bentuk</td>
                                            <td>Kuantitas</td>
                                            <td>Satuan</td>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center border-b-2">
                                        <tr>
                                            <td>1</td>
                                            <td>Beras</td>
                                            <td>Bahan Pangan</td>
                                            <td>1234567</td>
                                            <td>Gram</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="grid grid-cols-7 pt-2">
                                    <div>
                                        <h3 class="font-bold">Keterangan :</h3>
                                    </div>
                                    <ol class="col-span-6 text-justify">
                                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!</li>
                                    </ol>
                               </div>
                            </div>
                        </div>
                        <div class="collapse">
                            <input type="checkbox"/>
                            <div class="collapse-title peer-checked:bg-secondary flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>                                                                           
                                <h1 class="text-xl font-bold pl-5">Laporan Awal</h1>
                                <h1 class="text-slate-400 pl-5">● Husain Rahmani</h1>
                                <h1 class="text-slate-400 pl-5">● 23 Agustus 2022, 09.00</h1>
                            </div>
                            <div class="collapse-content peer-checked:bg-secondary pl-16">
                                <div class="grid grid-cols-2 gap-12">
                                    <table>
                                        <tr class="border-b">
                                            <td class="font-bold">Nama Bencana :</td>
                                            <td class="text-right">Banjir</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Latitude & Longitude :</td>
                                            <td class="text-right">4593839, 3940920</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Meninggal :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Luka Ringan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Luka Berat :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Hilang :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Mengungsi :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Rumah :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Kantor :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr class="border-b">
                                            <td class="font-bold">Tanggal & Waktu :</td>
                                            <td class="text-right">27 Oktober 1990, 09.00</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Penyebab :</td>
                                            <td class="text-right">Buang Sampah Sembarangan</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Kesehatan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Umum :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Pendidikan :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Prasarana Ibadah :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Jembatan Rusak :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Tanggul Rusak :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="font-bold">Lahan Pertanian :</td>
                                            <td class="text-right">100</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="grid grid-cols-6 pt-2">
                                    <div>
                                        <h3 class="font-bold">Lain-lain :</h3>
                                    </div>
                                    <div class="col-span-5 text-justify">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!
                                    </div>
                               </div>
                                <div class="grid grid-cols-6 pt-2">
                                    <div>
                                        <h3 class="font-bold">Keterangan :</h3>
                                    </div>
                                    <div class="col-span-5 text-justify">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quia rerum quos quidem autem? Itaque consequatur, cum modi placeat fugit repellendus, assumenda minima nisi magnam praesentium distinctio totam adipisci cupiditate!
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end content -->
    </div>

    <!-- footer -->
    <footer>
        <div  class="bg-blue-500 w-full py-3 fixed bottom-0 right-0 left-0">
            <h2 class="text-center text-white">&copy; All Rights Reserved, Copyright IT Charity Class For Cianjur 2022</h2>
        </div>
    </footer>
    <!-- end footer -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>