<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ICC</title>

    <!-- link css -->
    <link rel="stylesheet" href="../../../dist/output.css">

    <link rel="shortcut icon" href="../../images/sain.png" type="image/x-icon">

    <!-- daisyui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>
    
    <img src="../../images/logo.png" alt="logo" class="w-44 mx-auto mt-24">
    <h1 class="text-center font-bold text-xl my-5">Sistem Informasi Bencana Alam</h1>
    <div class="w-1/3 h-1/2 bg-base-100 rounded-lg shadow-xl mx-auto">
        <div class="p-5">
            <label class="label font-bold">Email</label>
            <input type="text" class="w-full rounded-full px-5 py-2 border border-slate-200 outline-none" placeholder="Email">
            <label class="label font-bold">Password</label>
            <input type="password" class="w-full rounded-full px-5 py-2 border border-slate-200 outline-none" placeholder="Password">
            <a href="../index.html">
                <button class="bg-blue-500 w-full mt-5 text-white hover:bg-blue-700 px-16 mb-5 py-2 rounded-full font-bold">LOGIN</button>
            </a>
        </div>
    </div>

</body>
</html>